<p style="color: green"><%= notice %></p>

<h1>Trips</h1>

<h2>Current_time: <%= DateTime.now.localtime %></h2>

<table>
  <thead>
  <tr>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Departure time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.departure.name %></td>
      <td><%= trip.arrival.name %></td>
      <td><%= trip.departure_time.localtime %></td>
    </tr>
  <% end %>
  </tbody>
</table>