<div id="<%= dom_id credit_card %>">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>credit_card id:</strong>
    <%= credit_card.id %>
  </p>

  <p>
    <strong>Cardholder:</strong>
    <%= credit_card.cardholder %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= credit_card.number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= credit_card.cvv %>
  </p>

  <p>
    <strong>Expired date:</strong>
    <%= credit_card.expire_date %>
  </p>
</div>
