<div id="<%= dom_id passenger %>">


  <p>
    <strong>Passenger id:</strong>
    <%= @passenger.id %>
  </p>

  <p>
    <strong>email:</strong>
    <%= @passenger.user.email %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= @passenger.trip.departure.name.capitalize %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= @passenger.trip.arrival.name.capitalize %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= @passenger.trip.departure_time %>
  </p>

  <p>
    <strong>Extra luggage bought:</strong>
    <%= @passenger.extra_luggage %>
  </p>

</div>
